appdirs==1.4.3
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
praw==4.4.0
prawcore==0.8.0
pyenchant==1.6.8
pygeoip==0.3.2
pyparsing==2.2.0
pytz==2016.10
requests==2.10.0
six==1.10.0
sopel==6.5.0
SQLAlchemy==1.1.6
update-checker==0.16
Werkzeug==0.12.1
xmltodict==0.10.2
